body {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: bold;
background-image: url(table.png);
background-size: cover;
text-align: center;
color: white;
}

h1{
    color: goldenrod;

}
button{
background: goldenrod;
color:black;
padding-top: 5px;
padding-bottom: 5px;
font-weight: bold;
border: none;
border-radius: 2px;
}

#message-el{
    font-style: italic;
}

#input-el{
    width: 25%
    
}

#start-game:hover{
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   border-radius: 2px
}

#new-card:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 2px
}
